@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Banana Forest (2)!</MudText>
<MudText Class="mb-8">Banana Forest 2 is an awesome tower defense game where you defend a tropical forest from evil bulldozers!</MudText>

<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You can find our itch.io page here (not done yet):
    <MudLink Href="" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.itch.io/banana forest 2</b>
    </MudLink>
</MudAlert>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">How it started: Banana Forest 1</MudText>
<br />
<MudText Typo="Typo.body2">
    Banana Forest started as an IT student small game: functionnal, moderatly fun, but with graphics that makes you regrets having eyes! <br />
    Upon release on itch.io, it encountered a moderate success, with a few hundreds plays on itch.io and a few hundreds plays on itch.io
    <br /><br />
    Things could have remained like that, and this project would have been lost and forgotten in the abyss of the internet... <br />
    If I didn't, a few years later, meet an awesome artist with whom I now share my life. <br />
    As kids are way overated, we decided to pursue this project create our first complete and published game together : Banana Forest 2!
</MudText>
<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You can find Banana Forest 1 on itch.io here :
    <MudLink Href="https://cobra-117.itch.io/banana-forest" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>https://cobra-117.itch.io/banana-forest</b>
    </MudLink>
</MudAlert>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">So what's the game about?</MudText>
<br />
<MudText Typo="Typo.body2">
    The tropical forest in under attack... Driven by an endless greed, Evils Corps bulldozers are attempting to destroy the forest to extract its ressources <br />
    But the inhabitants of the person are not gonna give up so easily! Monkeys, eels and even mushrooms decided to fight back to save their home! <br />
    Guided by the famous primatologist Jeanne 6.8, you will lead the resistance to stop the waves of enemies
</MudText>
<br />
<MudText Typo="Typo.h6" GutterBottom="true">Be strategic</MudText>
<MudText Typo="Typo.body2" GutterBottom="true">
    The game is intended to progressively become strategic and challenge you. <br />
    Across 25 uniques levels, you will encounter 20 possible enemies combinations with their strenghts and weakness <br />
    You will have to spend your bananas wisely to build the best defense system!
</MudText>

<br />

<MudCarousel Class="mud-width-full" Style="height:1080px;" TData="object">
    <BulletTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? Icons.Material.Filled.Circle : Icons.Material.Outlined.Circle)" Color="@Color.Primary" />
            </span>
        </div>
    </BulletTemplate>
    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-large" Icon="@Icons.Material.Filled.ArrowLeft" Color="@Color.Primary" />
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-large" Icon="@Icons.Material.Filled.ArrowRight" Color="@Color.Primary" />
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
        <MudCarouselItem>
            <div style="position:relative; width:100%; padding-top:56.25%;">
                @* 16:9 ratio = 9/16 = 0.5625 *@
                <img src="images/Banana Forest 1.PNG" alt="Game Screenshot 1"
                     style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem>
            <div style="position:relative; width:100%; padding-top:56.25%;">
                <img src="images/Banana Forest 2.PNG" alt="Game Screenshot 2"
                     style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem>
            <div style="position:relative; width:100%; padding-top:56.25%;">
                <img src="images/Banana Forest 1.PNG" alt="Game Screenshot 3"
                     style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;" />
            </div>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>